<div fxLayout="row">
  <div fxFlex></div>
  <form
    fxFlex.xs="100%"
    fxFlex.gt-xs="300px"
    fxLayout="column"
    fxLayoutGap="8px"
    #changePasswordForm="ngForm"
    (ngSubmit)="changePassword()">
    <p fxFlexAlign="center">Change your password</p>
    <input ff-input type="text" placeholder="New password" spellcheck="false" required [(ngModel)]="password" name="password">
    <button ff-button type="submit" *ngIf="changePasswordForm.form.valid">Change password</button>
    <md-progress-bar mode="indeterminate" *ngIf="changingPassword"></md-progress-bar>
    <p fxFlexAlign="center">{{ validationMessage }}</p>
  </form>
  <div fxFlex></div>
</div>