<div fxLayout="row">
  <div fxFlex></div>
  <form fxFlex.xs="100%" fxFlex.gt-xs="300px" fxLayout="column" fxLayoutGap="8px" #loginForm="ngForm" (ngSubmit)="signIn()">
    <p fxFlexAlign="center">Sign in to begin your journey...</p>
    <input ff-input type="email" placeholder="Username" spellcheck="false" required [(ngModel)]="username" name="email">
    <input ff-input type="password" placeholder="Password" required [(ngModel)]="password" name="password">
    <button ff-button type="submit" fxLayout="row" fxLayoutAlign="center center" *ngIf="loginForm.form.valid" [disabled]="signingIn">
      <md-progress-spinner ffButtonSpinner mode="indeterminate" color="accent" *ngIf="signingIn"></md-progress-spinner>
      Sign in
    </button>
    <p fxFlexAlign="center">{{ validationMessage }}</p>
  </form>
  <div fxFlex></div>
</div>