@import '~@angular/material/theming';

@include mat-core();

$family-frame-primary: mat-palette($mat-purple, 700, 300, 900);
$family-frame-accent:  mat-palette($mat-amber, A200, A100, A400);
$family-frame-warn:    mat-palette($mat-red);

$family-frame-theme: mat-light-theme($family-frame-primary, $family-frame-accent, $family-frame-warn);
@include angular-material-theme($family-frame-theme);