p {
    font-weight: 300;
    font-size: 0.8rem;
}

.fa {
    position: absolute;
    right: 10px;
    top: 8px;
    background: transparent;
    border: none;
    color: white;
}

.fa:hover {
    cursor: pointer;
}

.input-container {
    position: relative;
}