<div fxLayout="row">
  <div fxFlex></div>
  <form fxFlex.xs="100%" fxFlex.gt-xs="300px" fxLayout="column" fxLayoutGap="8px" #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
    <p fxFlexAlign="center">Change your password</p>
    <div class="input-container">
      <input fxFlex ff-input [type]="type" placeholder="New password" spellcheck="false" required [(ngModel)]="password" name="password">
      <button type="button" [ngClass]="{'fa-eye-slash': passwordIsVisible, 'fa-eye': !passwordIsVisible}" class="fa" (click)="toggleShowPassword()"></button>
    </div>
    <button ff-button type="submit" *ngIf="changePasswordForm.form.valid">Change password</button>
    <mat-progress-bar mode="indeterminate" *ngIf="changingPassword"></mat-progress-bar>
    <p fxFlexAlign="center">{{ validationMessage }}</p>
  </form>
  <div fxFlex></div>
</div>