$offset: 50px;

header {
    margin: 60px 10px;
}

h1 {
    margin-right: $offset;
    font-size: 3em;
    font-weight: 300;
}

h2 {
    margin-left: $offset;
    font-size: 3em;
    font-weight: 500;
}

.line {
    width: 40px;
    height: 4px;
    background: white;
    margin-left: 0px;
}