@import '../../../styles/shadow.scss';
@import '../../../styles/animation.scss';

$input-background: #116c68;
// $input-background: #058a84;
// $button-background: #37457c;
$button-background: #7c59a9;

p {
    font-weight: 300;
    font-size: 0.8rem;
}

input {
    box-shadow: $shadow-close;
    border-radius: 2px;
    background: $input-background;
    color: white;
    border: none;
    padding: 10px;
    transition: $animation-short;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

input:-moz-placeholder {
    color: white;
    opacity: 0.6;    
}

input:-ms-input-placeholder {
    color: white;
    opacity: 0.6;    
}

input::-moz-placeholder {
    color: white;
    opacity: 0.6;    
}

input::-webkit-input-placeholder {
    color: white;
    opacity: 0.6;
}

input:focus {
    outline: none;
    color: white;
    background: lighten($input-background, 5%);
    box-shadow: $shadow-medium;
}

button {
    border: none;
    background: $button-background;
    border-radius: 2px;
    padding: 14px;
    color: white;
    box-shadow: $shadow-close;
    transition: $animation-short;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

button:focus {
    outline: none;
    background: darken($button-background, 10%);
    box-shadow: $shadow-medium;
}