<div fxLayout="row">
  <div fxFlex></div>
  <form
    fxFlex.xs="100%"
    fxFlex.gt-xs="300px"
    fxLayout="column"
    fxLayoutGap="8px"
    #loginForm="ngForm"
    (ngSubmit)="login()">
    <input type="email" placeholder="Brukernavn" spellcheck="false" required [(ngModel)]="username" name="email">
    <input type="password" placeholder="Passord" required [(ngModel)]="password" name="password">
    <button type="submit" *ngIf="loginForm.form.valid">Logg inn</button>
  </form>
  <div fxFlex></div>
</div>