<div fxLayout="row">
  <div fxFlex></div>
  <form
    fxFlex.xs="100%"
    fxFlex.gt-xs="300px"
    fxLayout="column"
    fxLayoutGap="8px"
    #loginForm="ngForm"
    (ngSubmit)="signIn()">
    <p fxFlexAlign="center">Sign in to begin your journey...</p>
    <input ff-input type="email" placeholder="Username" spellcheck="false" required [(ngModel)]="username" name="email">
    <input ff-input type="password" placeholder="Password" required [(ngModel)]="password" name="password">
    <button ff-button type="submit" *ngIf="loginForm.form.valid">Sign in</button>
  </form>
  <div fxFlex></div>
</div>