@import '../../../../styles/animation.scss';

$thumb-size: 100px;

a {
    height: $thumb-size;
    width: $thumb-size;
    display: block;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100px;
    transition: $animation-short;
}

a:hover {
    cursor: pointer;
    transform: scale(1.05);
}