.upload-bar {
    margin: auto 0;
}

p {
    font-size: 0.7rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 13px;
}

.upload-row {
    margin-bottom: 10px;
}